!!! 5
html
    head
        title Index Page
    body
        ul
            li
                a(href="/grails-jade/person/coffeescript") Coffeescript
            li
                a(href="/grails-jade/person/index") Person Index
            li
                a(href="/grails-jade/person/invalid") Invalid Page
            li
                a(href="/grails-jade/person/layout") Layout Test
            li
                a(href="/grails-jade/person/list") Person List
            li
                a(href="/grails-jade/person/markdown") Markdown
            li
                a(href="/grails-jade/person/model") Model
            li
                a(href="/grails-jade/person/other") Other Layout
            li
                a(href="/grails-jade/person/persons") Person GSP